.footer-basic {
  padding: 10px 0;
  background-color: #ffffff;
  color: #4b4c4d;
  
}

.footer-basic .copyright {
  margin-top: 05px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 30px;
}

.container {
  margin-bottom: 50px
}

.container-fluid{
  display: flex;
}

#navbarSupportedContent {
  justify-content: end;
}

#navbarSupportedContent span:hover {
  color: #00b4d8;
}


#textarea {
  height: 200px
}